:root {
    --header-col: forestgreen;
    --subheader-col: darkgreen;
    --text-col: black;
    --bg-col: white;
    --substrate-col: lightblue;
}

html {
    background: var(--substrate-col);
}

body {
    max-width: 860px;
    margin: 0 auto;

    padding: 2em;

    background: var(--bg-col);

    box-shadow: 5px 0px 40px #0005;

    outline: 1px var(--subheader-col) solid;
    outline-offset: -5px;
}

h1 {
    color: var(--header-col);
}